<!-- Describe task in general -->

<p style="text-align: justify;">
    У вас є деяке число, і ви намагаєтесь знайти найближче квадратне число (досконалий квадрат). Квадратне число - це число, квадратний корінь з якого є цілим числом. Наприклад, якщо ми почнемо з числа 8, то два найближчих квадратних числа будуть 4 (sqrt(4) == 2) і 9 (sqrt(9) == 3). Отже, відповідь - 9, тому що 9 є найближчим.
</p>

<p style="text-align: center;">
    <img  title="Square number" src="{{MEDIA}}example.png" alt="example" style="max-height: 100px"/>
</p>

<p style="text-align: center;">
    <img  title="Square number" src="{{MEDIA}}example1.png" alt="example" style="max-height: 70px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
   <strong>Як використовується:</strong>
    Для математичного аналізу.
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p><strong>Передумова:</strong><br>
    0 &lt; число &lt;= 1000000<br>
</p>
